
body{
    font-family: 'Open Sans', sans-serif;
}
.bg_gradient{
    background: rgb(101,91,154);
    background: linear-gradient(90deg, rgba(101,91,154,1) 12%, rgba(134,33,111,1) 100%);
    height: 410px;
    width: 100%;
}

.logo {
    padding: 4rem 0 2rem 0;
}

.h5_color {
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.h6_color {
    color: #fff;
    font-size: .85rem;
}

.h5_p_font {
    color: #fff;
    font-size: .78rem;
    line-height: 1rem;
}

.h6_color span {
    float:right;
}

.icon-circle {
    height: 75px;
    width: 75px;
    background-color: #ffc000;
    border-radius: 50%;
    display: inline-block;
    margin-top: 1rem;
  }

  .icon-circle-right-spacing {
    margin-right: 2.5rem;
}

.icon-circle-box p{
    font-size: .8rem;
    padding-top: .4rem;
}

.fa-icon-height-adjustment{color:#fff;padding-top: 25%;}

.bottom-bg{
    padding: 25px;
    background: url(images/bg-bottom.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
}

body{
    background: url(images/bg-bottom.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    min-height: 100vh;
}

.logout-top-padding{padding:3rem 0;}

/****************************************
Custom Bootstrap 5 column css - begins
****************************************/

.col-md-2dot4 {
    float: left;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/************************************
Custom Bootstrap 5 column css - ends
************************************/

.whiteBox {
    background-color: white;
    padding: 1rem;
    width: 100%;
    height: 100%;
}
.whiteBox h6 {text-align: justify;text-transform: uppercase;color:#b90783;font-weight: bold;font-size: .9rem;letter-spacing: -1px;}
.whiteBox p {font-size: .7rem;color:#666;}
.col-md-2dot4.ffp-img {padding: 0;}
.col-md-2dot4.ffp-img img {
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}
.bottom-icon-box{
background-color: #645896;
padding: 3rem 4rem;
}

.img-center{
    
}















